.footer {
    padding: 120px 0;
    text-align: left;
    &__wrapper{
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 41px;
        gap: 0;
    }
    &__logo{
    }
    &__logo-img {
        width: unset;
    }
    &__social{
        justify-self: flex-end;
        margin: 0;
    }
    &__rights{
        font-size: rem(12px);   //14px
    }
}