// font size
$baseFontSize: 16px;

// font family
$montserratFont: 'Montserrat', sans-serif;
$openSansFont: 'Open Sans', sans-serif;
$sourceSansProFont: 'Source Sans Pro', sans-serif;

// COLORS
$whiteColor: #fff;
$blueColor: #55B7FF;
$purpleColor: #7E5AFF;
$greyColor: #4B5562;
$darkGrayColor: #2C4058;
$blackColor: #000;