.contact {
    &__info {
        padding: 60px;
    }
    &__title {
        margin-bottom: 40px;
    }
    &__wrapper {
        flex-direction: row;
        gap: 30px;
    }
    &__list {
        gap: 31px;
    }
    &__list-item {
        font-size: rem(18px);
        .icon {
            width: 15px;
            height: 15px;
        }
    }
    &__form {
        gap: 33px;
    }
    &__form-input {
        width: 310px;
        padding-bottom: 12px;
        font-size: rem(18px);
    }
    &__form-submit {
        font-size: rem(18px);
    }
}
