.gallery {
    padding: 150px 0;
    &__title {
        margin-bottom: 90px;
    }
    &__list {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 1fr;
        margin-bottom: 60px;
    }
    &__item-link{
        &::after {
            width: 70px;
            height: 70px;
        }
    }
}