.news {
padding: 120px 0;
    .container {
        position: relative;
    }
    &__title {
        margin-bottom: 90px;
    }
    .swiper {
        padding-bottom: 53px;
    }

    .content {
        &__title {
            font-size: rem(22px);
        }
        &__text {
            font-size: rem(18px);
        }
        &__person-name {
            font-size: rem(18px);
        }
        &__person-data {
            font-size: rem(14px);
        }
    }
}