.news {
padding: 120px 0;
    &__title {
        margin-bottom: 90px;
    }
    .swiper {
        padding-bottom: 60px;
        &-button-prev, &-button-next {
            display: block;
            color: transparent;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 40px;
            height: 40px;
        }

        &-button-prev {
            background-image: url('/img/news/left.svg');
            left: 0
        }
        &-button-next {
            background-image: url('/img/news/right.svg');
            right: 0;
        }
    }

    .content {
        &__title {
            font-size: rem(22px);
        }
        &__text {
            font-size: rem(18px);
        }
        &__person-name {
            font-size: rem(18px);
        }
        &__person-data {
            font-size: rem(14px);
        }
    }
}