.projects {
    padding: 100px 0 150px;
    &__title {
        margin-bottom: 90px;
    }
    &__wrapper {
        gap: 120px;
    }
    &__card {
        flex-direction: row;
        gap: 65px;
    }
    &__image {
        flex-basis: 630px;
        &-left{
            box-shadow: -260px -55px 0px $blueColor;
        }
        &-right{
            box-shadow: 260px -55px 0px $purpleColor;
            }
    }
    &__content {
        flex: 0 1 476px;
        &--reverse{
            order: -1;
        }
    }
    &__subtitle {
        font-size: rem(22px);
    }
    &__title-h4 {
        margin-bottom: 19px;
    }
    &__text {
        font-size: rem(18px);
        margin-bottom: 40px;
    }
    &__button {
        margin-bottom: 60px;
    }
    &__place {
        font-size: rem(15px);
        margin-bottom: 25px;
    }
}