.button {
    display: inline-block;
    min-width: 190px;
    padding: 17px 20px;
    border: 1px solid $blackColor;
    background-color: transparent;
    color: $blackColor;
    text-transform: uppercase;
    text-align: center;
    font-family: $montserratFont;
    font-weight: 400;
    font-size: rem(14px);
    position: relative;
    overflow: hidden;
    transition: transform .3s ease;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(251.06deg, rgb(126, 90, 255, 0.9) -2.19%, rgb(85, 183, 255, 0.9) 103.21%);
        opacity: 0.7;
        position: absolute;
        top: 0;
        right: -100%;
        z-index: -1;
        transition: right .5s ease;
    }
    &:hover, &:focus {
        &::before {
            right: 0;
            z-index: -1;
        }
    }
    &:active {
        transform: scale(0.85);
    }
}