.contact {
    position: relative;
    background: linear-gradient(237.1deg, rgb(36, 204, 250, 0.3) 11.16%, rgb(60, 127, 212, 0.3) 89.18%);
    background-repeat: no-repeat;
    background-position: 0 100%;
    &__map {
        width: 100%;
        height: 400px;
    }

    &__info {
        padding: 30px;
        background: url('/img/contacts-bg.png');
        background-repeat: no-repeat;
        background-position: 0 100%;
    }

    &__title {
        margin-bottom: 21px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__list-item {
        font-family: $montserratFont;
        font-weight: 400;
        font-size: rem(14px);
        line-height: 1.555;
        color: $blackColor;
        .icon {
            width: 13px;
            height: 13px;
            fill: $purpleColor;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__form-input {
        padding-bottom: 10px;
        font-family: $montserratFont;
        font-weight: 400;
        font-size: rem(14px);
        line-height: 1.555;
        color: $blackColor;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $greyColor;
        transition: opacity .3s ease;
        &:focus {
            opacity: 1;
        }
    }

    &__form-submit {
        position: relative;
        align-self: flex-end;
        height: 50px;
        width: 140px;
        padding: 10px 20px;
        border: 1px solid $blackColor;
        cursor: pointer;
        background-color: transparent;
        text-transform: uppercase;
        color: $blackColor;
        font-family: $montserratFont;
        font-weight: 400;
        font-size: rem(14px);   // 18px
        overflow: hidden;
        transition: transform .3s ease;
        &:active {
            transform: scale(0.85);
        }
    }
}