.hero {
    .swiper {
        position: relative;
        height: 100%;
        padding: 150px 0;
        &-slide {
            text-align: center;
            @include center;
        }
        &-content {
            padding: 150px 25px;
            text-transform: uppercase;
            text-align: center;
            color: $whiteColor;
            font-family: $montserratFont;
            line-height: 1.225;
            span {
                display: block;
                letter-spacing: 0.1rem;
                font-weight: 700;
                font-size: rem(30px);
                margin-bottom: 20px;
            }
            p {
                letter-spacing: 0.3rem;
                font-weight: 400;
                font-size: rem(10px);
            }
        }
        &-pagination {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            gap: 40px;
            width: 100%;
            height: 100vh;
            padding: 10px;
            bottom: unset;
        }
        &-pagination-bullet {
            width: 10px;
            height: 10px;
            opacity: 1;
            background-color: transparent;
            border: 1px solid $whiteColor;
            display: flex;
            flex-direction: column;
            gap: 40px;
            &-active {
                background-color: $whiteColor;
            }
        }
    }
}