.news {
padding: 90px 0;

    &__title {
        margin-bottom: 60px;
    }
    .swiper {
    padding-bottom: 45px;
    }

    .content {
        &__title {
            font-size: rem(18px);
        }
        &__text {
            font-size: rem(16px);
        }
        &__person-name {
            font-size: rem(16px);
        }
        &__person-data {
            font-size: rem(12px);
        }
    }
}